<div id="row-informations"class="client-row">
                                <p class="client-row-adress"></p>
                                <button id="sumitButton" type="button" class=" client-row-button btn btn-danger">
                                    <img src="/static/images/close.png" alt="Close X" width="13" height="13" />
                                </button>
                            </div>