<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../template/head'); %>
    <script src="/static/scripts/api.js"></script>
    <script src="/static/scripts/login.js"></script>
</head>

<body class="container">

    <header>
        <%- include('../template/header'); %>
    </header>

    <main>
        <div class="section">
            <h1 class="section-title">Connexion</h1>
            <div class="section-content">
                <form>
                    <div class="form-outline mb-4">
                        <input id="usernameInput" type="text" class="form-control" />
                        <label class="form-label" for="usernameInput">Nom d'utilisateur</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input id="passwordInput" type="password" class="form-control" />
                        <label class="form-label" for="passwordInput">Mot de passe</label>
                    </div>

                    <button id="sumitButton" type="button" class="btn-tplm btn btn-block mb-4">Se connecter</button>

                    <p id="errorMessages">
                    </p>
                </form>
            </div>
        </div>


    </main>

    <footer>
        <%- include('../template/footer'); %>
    </footer>

</body>

</html>