<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../template/head'); %>
</head>

<body class="container">

  <header>
  </header>

  <main>
    <p>This is monitor page</p>
  </main>

  <footer>
    <%- include('../template/footer'); %>
  </footer>

</body>

</html>