<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../template/head'); %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/scripts/api.js"></script>
    <script src="/static/scripts/consumption.js"></script>
    <script src="/static/scripts/client.js"></script>
    <script src="/static/scripts/alert.js"></script>
    <script src="/static/scripts/port.js"></script>
    <script src="/static/scripts/signup.js"></script>
    <script src="/static/scripts/analyser.js"></script>
</head>

<body class="container">

    <header>
        <%- include('../template/header'); %>
    </header>

    <main>
        <div class="section">
            <h1 class="section-title">Alertes</h1>
            <div class="section-content">
                <div id="alert-list">
                </div>
                <div class="text-center">
                    <button id="refreshButtonAlert" type="button" class="btn-tplm btn btn-block my-2">Rafraichir</button>
                </div>
            </div>
        </div>

        <div class="section">
            <h1 class="section-title">Analyse électrique</h1>
            <div class="section-content">
                <div>
                    <canvas id="consumptionChart"></canvas>
                </div>
                <script src="../../static/scripts/consumptionChart.js"></script>
                <div class="text-center">
                    <button id="refreshButton" type="button" class="btn-tplm btn btn-block my-2">Rafraichir</button>
                </div>
            </div>
        </div>

        <div class="section">
            <h1 class="section-title">Analyse réseau</h1>
            <div class="section-content">
                <div id="client-section">
                    <div id="whitelist-box" class="client-column">
                        <h3>Liste blanche</h3>
                        <div id="whitelist-table">
                        </div>
                    </div>
                    <div id="intrusion-box" class="client-column">
                        <h3>Intrusions</h3>
                        <div id="intrusion-table">
                        </div>
                    </div>
                </div>
                <div id="addIPToWhitelist">
                    <label for="inputClientIP">Ajouter une IP à la whitelist:</label>
                    <input type="text" id="inputClientIP" name="ip-adress">
                    <button id="submitButtonIP" class="btn-tplm btn btn-block my-2">Ajouter</button>
                </div>
                <div id="port-section">
                    <div id="whitelist-port-box" class="client-column">
                        <h3>Ports ouverts</h3>
                        <div id="whitelist-port-table">
                        </div>
                    </div>
                    <div id="intrusion-port-box" class="client-column">
                        <h3>Activité sur port fermé détectée</h3>
                        <div id="intrusion-port-table">
                        </div>
                    </div>
                </div>
                <div id="addPortNumberToOpenList">
                    <label for="inputPortNumber">Ajouter un port à la liste des ports ouverts:</label>
                    <input type="number" id="inputPortNumber" name="port-number">
                    <button id="submitButtonPort" class="btn-tplm btn btn-block my-2">Ajouter</button>
                </div>
                <div class="text-center">
                    <button id="refreshButtonLists" type="button" class="btn-tplm btn btn-block mt-4 mb-2">Rafraichir</button>
                </div>
            </div>
        </div>

        <div class="section">
            <h1 class="section-title">Analyseurs</h1>
            <div class="section-content">
                <div id="analyserContainer">
                    </div>
                <button id="getAnalyserButton" type="button" class="btn-tplm btn btn-block mb-4">Rafraichir</button>
            </div>
        </div>


        <div class="section">
            <h1 class="section-title">Ajouter un utilisateur</h1>
            <div class="section-content">
                <form>
                    <div class="form-outline mb-4">
                        <input id="usernameInput" type="text" class="form-control" />
                        <label class="form-label" for="usernameInput">Nom d'utilisateur</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input id="emailInput" type="text" class="form-control" />
                        <label class="form-label" for="usernameInput">Email</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input id="passwordInput" type="password" class="form-control" />
                        <label class="form-label" for="passwordInput">Mot de passe</label>
                    </div>

                    <button id="" type="button" class="btn-tplm btn btn-block mb-4">Refresh</button>

                    <p id="signupMessages">
                    </p>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../template/footer'); %>
    </footer>

</body>

</html>