<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../template/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../template/header'); %>
    </header>

    <main>
        <div class="section">
            <h1 class="section-title">Analyse électrique</h1>
            <div class="section-content">
                <button id="sumitButton" type="button" class="btn-tplm btn btn-block mb-4">Se connecter</button>
            </div>
        </div>

        <div class="section">
            <h1 class="section-title">Analyse réseau</h1>
            <div class="section-content">
                
            </div>
        </div>
    </main>

    <footer>
        <%- include('../template/footer'); %>
    </footer>

</body>

</html>